<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>employer page</title>
</head>
<body>

	<fieldset id="index_page">
		<legend><a href="./index.html" id="home_page"><img src="./img/home.png"></a><h1>Salary Easy pay</h1></legend>
		<div id="function_page">
			<div id="employer_message">
				<h2>employer message</h2>
				<div>
					<p>your address: </p><input class="input_control" type="text" v-model="employer.address">
					<p>password: </p><input class="input_control" type="password" v-model="employer.password">
					<p>balance: {{employer.balance}}</p>
					<button class="button_control" @click = "check_balance">check balance</button>
				</div>
			</div>
			<div id="contract_message">
				<h2>contract message</h2>
				<div>
					<p>address of employee: </p><input class="input_control" type="text" v-model="new_employee.address">
					<p>salary per week(wei): </p><input class="input_control" type="text"  v-model="new_employee.salary">
					<p>salary pay period(week): </p><input class="input_control" type="text"  v-model="new_employee.pay_period">
					<p>salary stored advanced (should be 3 times more than salary, or create operation will be rejected): </p><input class="input_control" type="text" v-model="new_employee.salary_stored">
					<button class="button_control" @click = "create_contract">create contract</button>
					<p>contract address: </p><input class="input_control" type="text" v-model="new_employee.contract_address">
					<button class="button_control" @click = "add_contract">add contract exist</button>
				</div>
			</div>
		</div>

		<div id="contract_page">
			<div id="contract_list">
				<h2>contract list</h2>
				<div>
					<label v-for="employee in employees">
						<p><span>your account:</span><br>{{employee.employer_address}}<br>
						<span>contract address:</span><br>{{employee.contract_address}}<br>
						<span>employee address:</span><br>{{employee.address}}<br>
						<span>employee's salary:</span><br>{{employee.salary}}(wei) per {{employee.pay_period}} week<br>
						<span>salary you should pay for him now:</span><br>{{employee.salary_unpay}}(wei)</p>
						<input id="checkbox" type="checkbox" v-model="employee.state" v-on:click="update_state(employee)">
						<input class="input_control" type="text" v-model="employee.salary_to_pay">
						<!-- {{employee.state}} -->
					</label>
					<button class="button_control" @click = "show_salary_unpay">update salary you should pay to selected employees</button>
					<button class="button_control" @click = "pay_salary">pay salary to employees you want</button>
					<button class="button_control" @click = "delete_contract">delete contract you want to delete</button>
				</div>
				<div style="clear:both"></div>
			</div>
		</div>

		<div style="clear:both"></div>
	</fieldset>

</body>
</html>